/* projects section */
#projects {
  background: rgb(235, 235, 240);
}
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

#projects .project-header h1 {
  margin-bottom: 50px;
  font-size: 40px;
  color: crimson;
}

#projects .all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* margin:0 100px; */
}

#projects .project-items {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px 40px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#projects .project-info {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
}

#projects .project-info h1 {
  font-size: 2rem;
  font-weight: 500px;
}

#projects .project-info p {
  margin-top: 20px;
}

.project-img .image_project {
  width: 500px;
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px auto;
}
.project-img .image_project {
  transition: 0.3s ease transform;
}
.project-img .image_project:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.details {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

.details button {
  margin-right: 10px;
  background-color: transparent;
  width: 100px;
  height: auto;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid rgb(72, 177, 177);
  text-transform: uppercase;
}

.details button:hover {
  transform: scale(1.1);
}
/* end of projects section */

@media screen and (max-width: 960px) {
  #projects .project-header h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }
  #projects .all-projects {
    display: grid;
    grid-template-columns: 1fr;
  }
  #projects .project-items {
    margin: 10px 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .project-img .image_project {
    flex-basis: 50%;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  .project-img .image_project {
    transition: 0.3s ease transform;
  }
  .project-img .image_project:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
