@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
/* :root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
} */

*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Raleway';
}

/* .App{
display: flex;

/* width:100%;
min-height: 100vh;  */
/* } */ 




/* Media Queries  */

 /* @media screen and (max-width: 960px) { 
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  } */
/* 
  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  } */
/* }  */